* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0.45deg, #7a5d54, #815667, #173653, #2305a8);
}
h1 {
  color: whitesmoke;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-container {
  width: 800px;
  height: 600px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-image: url("./corona-4971013_1920.jpg");
  overflow: hidden;
}

.score {
  font-size: 130px;
  border-top: 20px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  text-align: center;
  color: rgba(36, 122, 72, 0.6);
}
.highScore {
  position: absolute;
  top: 11px;
  left: 10px;
  font-size: 22px;
  font-weight: 900;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(226, 226, 118);
  padding: 7px 10px;
  border-radius: 5px;
}
.countdown {
  position: absolute;
  top: 490px;
  width: 100%;
  font-size: 31px;
  text-align: center;
  color: rgb(238, 29, 57);
}
button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  /* we use transform to align it horizontally */
  transform: translate(-50%, 0);
  background: #010124;
  color: white;
  padding: 20px 50px;
  border-radius: 5px;
  z-index: 200;
  cursor: pointer;
  border: none;
  outline: none;
}
.game {
  width: 600px;
  height: 400px;
  margin: 70px auto;
  /* will always be on top and we can always interact with it */
  z-index: 200;
  display: flex;
  flex-wrap: wrap;
}
.hole {
  flex: 1 0 33.33%;
  position: relative;
  overflow: hidden;
}
.hole:after {
  content: "";
  /* To make sure it can receive width and height properties */
  display: block;
  background-image: url("./chalkboard-5464649_1920.png");
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 2;
  bottom: -30px;
  background-size: contain;
  margin-left: 24.1px;
}
.mole {
  margin-right: 40px;
  background-image: url("./virus-4930122_1920.png");
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-right: -29px;
}
.mole.small {
  background-size: 80%;
}
.mole.large {
  background-size: 90%;
  margin-right: 150px;
}
.hole.up .mole {
  top: 0;
}
